*.class
*.DS_Store
*.egg-info
*.egg
*.log
*.pyc
*.pyo
*.pyd
*.sqlite3
*.swp
*.tar.gz
*.zip           
/.gitignore
/.idea
/.vscode
/.pytest_cache
/.mypy_cache
/.coverage
/.coverage.*
/.tox           
/.tox-*
/.venv
/.venv-*            
